<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>veriServlet</servlet-name>
    <servlet-class>com.schiller.veriasa.web.server.VeriServiceImpl</servlet-class>
  	<init-param> 
   		<param-name>workspace</param-name> 
   		<param-value>/root/asa/projs</param-value> 
	</init-param> 
	<init-param> 
   		<param-name>escj_port</param-name> 
   		<param-value>4444</param-value> 
	</init-param> 
	<init-param> 
   		<param-name>escj_host</param-name> 
   		<param-value>127.0.0.1</param-value> 
	</init-param>
	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>veriServlet</servlet-name>
    <url-pattern>/veriweb/veri</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>VeriWeb.html</welcome-file>
  </welcome-file-list>
  
</web-app>
