<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Eclipse Toolkit for Veri ASA"
            id="InfoDump.actionSet"
            label="Veri ASA"
            visible="true">
         <menu
               id="asaMenu"
               label="Veri ASA">
            <separator
                  name="asaGroup">
            </separator>
         </menu>
         <action
               class="infodump.actions.SampleAction"
               icon="icons/sample.gif"
               id="infodump.actions.SampleAction"
               label="Create Project File"
               menubarPath="asaMenu/asaGroup"
               toolbarPath="asaGroup"
               tooltip="Create Project File">
         </action>
         <action
               class="infodump.actions.InfoDumpAction"
               icon="icons/sample.gif"
               id="InfoDump.action1"
               label="Dump Doc Information"
               menubarPath="asaMenu/asaGroup"
               style="push"
               toolbarPath="asaGroup"
               tooltip="Dump doc information">
         </action>
      </actionSet>
   </extension>

</plugin>
